.ge-has-spinner-when-active.ge-active::after {
	content:'';
	border-left: 1px solid #000;
	margin-left:10px;
	display: block;
	height: 12px;
	display: inline-block;
	animation: ge-spinner .7s infinite linear;  	
}

@keyframes ge-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
