@import url('https://watceedee.github.io/gazelle/css/enhancer-base.css');

.ge-upload-image-drop-target {
    width: 532px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    z-index: 10;
    text-align: center;
    position: relative;
	box-shadow: inset 0 1px 3px rgba(71,54,38,.4);
	border: 1px solid #aBaAa9;
}

.ge-upload-image-drop-target.ge-active {
	background: inherit;
	color: inherit;
}

#upload input[type=file].ge-done,
.ge-upload-image-drop-target.ge-done {	
	background: #080;
	color: #fff;
}

.ge-upload-image-drop-target,
#upload input[type=file] {
	background: #800;
	color: #fff;
	padding: 10px;	
}



#upload #dnu_header + p + p,
#title_tr input + p,
#releasetype_tr + tr + tr,
#genre_tags ~ ul,
#musicbrainz_tr,
#musicbrainz_popup {
    display: none;
}
