@import url('https://watceedee.github.io/gazelle/css/enhancer-base.css');

.box_albumart .ge-rehost-btn {
	position: absolute;
	top: 5px;
	left: 5px;
	padding: 4px 12px;
	background: rgba(0,0,0,.7);
	color: #fff;
	cursor: pointer;
}

.box_albumart .ge-rehost-btn.ge-active {
	cursor: default;
}

.box_albumart .ge-rehost-btn.ge-active::after {
	border-color: #fff !important;
}

.box_albumart .ge-rehost-btn.ge-done {
	cursor: default;
}

.edit_form input[name=imagefile] {
	width: 594px;
	padding: 10px;
	box-sizing: border-box;
}
