@import url('https://watceedee.github.io/gazelle/css/gazelle-base.css');

#logo {
	width: 138px;
	height: 37px;
}

#logo a {
	width: 138px;
	height: 37px;
	background: url('https://watceedee.github.io/gazelle/img/nwlogo.png');
	margin-top: 6px;
}
