@import url(https://watceedee.github.io/gazelle/gazelle.css);

#logo {
    width: 138px;
    height: 37px;
}
#logo a {
    width: 138px;
    height: 37px;
    background: url('https://notwhat.cd/static/styles/postmod/images/woodlogo.png');
	margin-top: 6px;
}
