.pth-upload-drop-target {
    width: 534px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    z-index: 10;
    text-align: center;
    position: relative;
	box-shadow: inset 0 1px 3px rgba(71,54,38,.4);
}

.pth-upload-drop-target.active {
	color: inherit;
}

.pth-upload-drop-target.active::after {
	content:'';
	border-left: 1px solid #000;
	margin-left:10px;
	display: block;
	height: 12px;
	display: inline-block;
	animation: pth-rotate .7s infinite linear;  	
}

#upload input[type=file].done,
.pth-upload-drop-target.done {	
	background: #080;
	color: #fff;
}

.pth-upload-drop-target,
#upload input[type=file] {
	background: #800;
	color: #fff;
	padding: 10px;	
}



#upload #dnu_header + p + p,
#title_tr input + p,
#releasetype_tr + tr + tr,
#genre_tags ~ ul,
#musicbrainz_tr,
#musicbrainz_popup {
    display: none;
}

@keyframes pth-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
