.pth-upload-drop-target {
    width: 536px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    z-index: 10;
    text-align: center;
    padding: 8px;
    border: 1px solid #800;
    position: relative;
    background: #800;
}

.pth-upload-drop-target.active {
	background: linear-gradient(to right, #800 0%, #080 100%);
	animation: pth-active 3s linear infinite;	
}

.pth-upload-drop-target.done {	
	background: #080;
}

#upload #dnu_header + p + p,
#title_tr input + p,
#releasetype_tr + tr + tr,
#genre_tags ~ ul,
#musicbrainz_tr,
#musicbrainz_popup {
    display: none;
}

@keyframes pth-active { 
    0%{background: linear-gradient(to right, #800 0%, #080 100%)}
    25%{background: linear-gradient(to right, #080 0%, #800 50%, #080 100%)}
    50%{background: linear-gradient(to right, #080 0%, #800 100%)}
    75%{background: linear-gradient(to right, #800 0%, #080 50%, #800 100%)}
    100%{background: linear-gradient(to right, #800 0%, #080 100%)}
}
