.pth-upload-drop-target {
    width: 536px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    z-index: 10;
    text-align: center;
    padding: 8px;
    border: 1px solid #800;
    position: relative;
    background: #800;
}

.pth-upload-drop-target.active {
	background: linear-gradient(270deg, transparent 0%, transparent 49%, #080 50%, transparent 51%, transparent 100%);
	background-size: 200%;
	animation: pth-active 1s cubic-bezier(0.4, 0, 1, 1) infinite;
}

.pth-upload-drop-target.done {	
	background: #080;
}

#upload #dnu_header + p + p,
#title_tr input + p,
#releasetype_tr + tr + tr,
#genre_tags ~ ul,
#musicbrainz_tr,
#musicbrainz_popup {
    display: none;
}

@keyframes pth-active { 
    0%{background-position:0% 50%}
    10%{background-position:5% 50%}
    50%{background-position:100% 50%}
    90%{background-position:5% 50%}
    100%{background-position:0% 50%}
}
