@import url('https://watceedee.github.io/gazelle/gazelle.css');

#logo {
    width: 220px;
    height: 50px;
}
#logo a {
    width: 220px;
    height: 50px;
    background: url('https://ptpimg.me/n1kc14.png');
}
